
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 4px 0px rgba(0,0,0,0.4);
    padding: .5rem;
    position: sticky;
    cursor: pointer;
    background: #fff;
    
}




@media screen and (max-width:500px) {
  .logo{
    font-size: 1.2rem !important;
  }
  .buttonstyle{
    padding: .5rem 1rem !important;
    font-size: .8rem !important;
  }
}
